
header {
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 10px;
    background-color:  #f8dce2;
    color: #413B61;
    font-style: italic;
    font-variant: small-caps;
    font-size: clamp(12px, 4vw, 32px);
  }

  main {
    margin: 10px;
  }

  img {
    mix-blend-mode: multiply;
  }

  .size {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px white, 00 0px white, ;
  }
  .right {
    display: flex;
    flex-direction: column, row-reverse;
    justify-content: right;
    margin: 2%;
    padding-left: 80%;
  }
  #searchShake {
    display: flex;
    font-size: clamp(12px, 4vw, 10px);
    position: relative;
    flex-direction: column-reverse;
    justify-content : left;
    border-radius: 3px;
    border: inset 2px;
    border-color: rgb(255, 118, 232); 
    width: 14%; 
  }
  button {
    background-color: #AE7DAC
  }


  #searchBox {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    gap: 10px;
    align-items: center;
    font-family: Snell Roundhand, cursive ;
  

  }

  #searchBar {
    display: flex;
    flex-direction: row;
  }

  #searchControl {
    display: flex;
    flex-direction: row;
    width: 50%;  
  }

  #cocktailList {
    display: flex;
    flex-direction: row;
    height: 20%;
    gap: 3%;
  }

  h3 {
    padding: 5%;
  }

  .card {
    display: flex;
    width: 40%;
  }

  img {
    display: flex;
    margin: 1px;
    padding: 5px;
  }